.study_courses{
  border-style: solid;
  border-color: orange;
  box-shadow: 0 0 15px orange;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  max-width: 300px;
  min-height: 530px;
  margin-left: 0pt;
  margin-right: 0pt;
  }

.main{
  margin-left: 15pt;
  margin-right: 15pt;
  font-family: Consolas;
}

.courses_cont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.photo {
  margin: 10px auto 20px;
  display: block;
}

.center {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.all_page {
  background-image: url(https://top-fon.com/uploads/posts/2023-02/1675287740_top-fon-com-p-fon-dlya-prezentatsii-belogo-tsveta-57.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

